extends ../layouts/default-with-menu

block content
    .container
        .row
            .col-sm-3
                .advantage
                    .girl-image.girl-about
            .col-sm-9
                h3 About us
                p During the early stages of the application-development lifecycle, developers typically instrument application to collect tracing information, exceptions details, and metrics. This data is very useful for debugging, load balancing, and performance testing during pre-production.
                  |  When an application goes into production, you need to get more insight into the app's real transaction-performance, its availability, and the users' activity. Organizations typically select Usage and APM vendors when they need to switch from homegrown instrumentation to real monitoring needs.
                  |  As projects mature and product owners, developers and operators get a better understanding of their needs, they add more and more custom instrumentation to answer business questions related to user funnels, perform cohort analysis, and facilitate data retention. In addition to business pressure to improve decision making processes, there are also strict operational requirements for alert noise reduction, SLA/SLO monitoring, and customer-impact analysis that results from delivery of a successful live-site process. This high degree of customization of proprietary Usage and APM solutions can significantly diminish the perceived out of the box value. Combined with the variety of solutions used in enterprise, this significantly increases operational complexity and lower the control of final solution.
                  |  devmetrics.io offers an extensible, full-featured, open source APM stack for software developers. It helps improve existing instrumentation to the level of typical Usage and APM solutions. devmetrics.io gives you an extensible foundation for data collection, processing, visualization, and analysis. Our solution is based on proven open-source solutions with no vendor lock-in. We combine the best of both worlds - out of the box value based on existing instrumentation and an extensible API, with processing pipeline and visualization based on industry standards. Our solution is modular so you can easily transition from other systems and integrate 3rd party tooling for continuous DevOps process.
