extends ../layouts/default-with-menu

block content
    .container
        .row
            .col-sm-3
                .advantage
                    .girl-image.girl-about
            .col-sm-9
                h3 Dashboard for #{app_id}
                p(id="statusText") Checking events count...
                p(id="errorText", style="display: none") There is no events for app_id=#{app_id}.<br>
                    | Please double check your configuration and rerun your app or <br>
                    a.small(href='/contact?msg=I%20see%20logs,%20but%20I%20cannot%20open%20the%20dashboard.#message', target='_blank') contact us
                    |  to find the reason.
                p(id="errorCreating", style="display: none") There is an error with the dashboard. We already know about this issue and working on it!<br>Please try again in 10 minutes.

    script.
        $.ajax({
          url: '/api/#{app_id}/events/count',
          data: {},
          success: function(res) {
            $('#statusText').html('Events in database: ' + res['count'] + '<br>');
            if (res['count'] < 1) {
                $('#errorText').show();
            } else {
              $.ajax({
                method: 'POST',
                url: '/api/#{app_id}/dashboard',
                data: {},
                success: function(res) {
                    window.location.href = 'http://service.devmetrics.io/apps/#{app_id}/#/dashboard/summary';
                },
                error: function(res) {
                    $('#errorCreating').show();
                },
                dataType: 'json'
              });
            }
          },
          dataType: 'json'
        });
