extends ../layouts/default-with-menu
include ../mixins/blog-post
    
block content
    .top-content
        .container
            .row
                .col-md-7
                    h1.huge-text
                        | Open monitoring solution based on open source technologies.
                .col-md-5.posts
                    each post in posts
                        +blog-post(post)


    .schema-container
        .container
            .schema

    .description-container    
        .container   
             .row
                .col-md-1
                .col-md-10 
                    span.
                            <strong>devmetrics.io</strong> is an <strong>open source</strong> monitoring and analytics solution <strong>optimized for Node.js</strong>. Search logs, chart metrics, receive alerts, and visualize your application performance and usage in flexible dashboards with <strong>devmetrics.io</strong>. <strong>devmetrics.io</strong> is based on proven and scalable open source technologies. We can either host monitoring infrastructure for you or guide you through the setup process.
                .col-md-1



    .wizard-container
        h1 Configure your dashboard in minutes:
        .container.steps   
            .center 
                        .btn-group
                            button.btn.active Node.js
                            button.btn(data-toggle='modal', data-target='#otherLanguageModal') Other language
            .center
                        .btn-group 
                            button.btn.active(id="myAppBtn", onclick='setOption(true)') Monitor my app
                            button.btn(id="sampleAppBtn", onclick='setOption(false)') Monitor sample app
            
            .sample-app(id="sampleApp")
                .row
                    br
                    .col-sm-10
                        p.heading <span>&#10102;</span> Download or clone <a href="https://github.com/devmetrics/devmetrics-nodejs-example" target="_blank">example app</a>.   Run "npm install". 
                    .col-sm-2
                        a.small(href='/contact?msg=I%20cannot%20build%20the%20example%20app.#message', target='_blank') I cannot build the example app.
                .row
                    .col-sm-10
                        p.heading <span>&#10103;</span> Start the example app (node server.js), open any page and check stdout for request logs:
                        pre
                            code
                                | info: GET /home 200 - - 119.481 ms
                                | info: GET /users/routes/auth.js 200 - - 121.903 ms
                    .col-sm-2
                        br
                        br
                        a.small(href='/contact?msg=I%20installed%20the%20npm%20module%20%27devmetrics%27,%20but%20I%20do%20not%20see%20logs.#message', target='_blank') I do not see logs.

                .row
                    .col-sm-10
                        p.heading <span>&#10104;</span> Copy the link from your stdout and enjoy your <strong>dashboard</strong>:
                .row
                    .col-sm-10
                        pre
                            code
                                | info: Checkout dashboards @ http://devmetrics.io/dashboard/[your-token]
                    .col-sm-2
                        a.small(href='/contact?msg=I%20see%20logs,%20but%20I%20cannot%20open%20the%20dashboard.#message', target='_blank') I cannot open dashboard.
            .my-app(id="myApp")
                br
                .row         
                    .col-sm-4       
                        p.text Your AppID in the shared instance:
                    .col-sm-4   
                        .input-append                 
                            input.small(type='text', id='tokenInput', value='token-567891', readonly)   
                            button.btnreset.small(onclick='resetToken()') Regenerate

                 
                        //input.form-control(type='text', id='tokenInput', value='token-567891', readonly)
                    .col-sm-4
                        a.span.glyphicon.glyphicon-question-sign(data-toggle='modal', data-target='#tokenInfoModal')
                        .br                    
                        a.small(href='/contact?msg=I%20would%20like%20to%20get%20a%20dedicated%20monitoring%20instance.#message', target='_blank') I want a dedicated monitoring instance.

                .row
                    br
                    .col-sm-10
                        p.heading <span>&#10102;</span> Run "npm install <a href='https://www.npmjs.com/package/devmetrics' target='_blank'>devmetrics</a>". Open <strong>config/express.js</strong> and replace the default logging middleware:
                        pre
                            code
                                |- require('./middlewares/logging')(app, config.logging);
                                |+ require('devmetrics')({'app': app, 'host': 'service.devmetrics.io', 'token': '<span id="tokenCode">token-567891</span>'});
                    .col-sm-2
                        br
                        br
                        br
                        a.small(href='/contact?msg=I%20cannot%20install%20the%20npm%20module%20%27devmetrics%27.#message', target='_blank') I cannot install module.
                .row
                    .col-sm-10
                        p.heading <span>&#10103;</span> Restart your app, open any page and check stdout for request logs:
                        pre
                            code
                                | info: GET /home 200 - - 119.481 ms
                                | info: GET /users/routes/auth.js 200 - - 121.903 ms
                    .col-sm-2
                        br
                        br
                        a.small(href='/contact?msg=I%20installed%20the%20npm%20module%20%27devmetrics%27,%20but%20I%20do%20not%20see%20logs.#message', target='_blank') I do not see logs.

                .row
                    .col-sm-10
                        p.heading <span>&#10104;</span> Enjoy your <strong>dashboard</strong> at <a target='_blank' id="tokenLink">http://devmetrics.io/app/token-567891</a>
                    .col-sm-2
                        a.small(href='/contact?msg=I%20see%20logs,%20but%20I%20cannot%20open%20the%20dashboard.#message', target='_blank') I cannot open dashboard.
    script.        
        function setOption(myApp)
        { 
             if (myApp){
                document.getElementById("sampleApp").style.display = "none";
                document.getElementById("myApp").style.display = "inline-block";
                document.getElementById('myAppBtn').className += " active";
                document.getElementById('sampleAppBtn').className = document.getElementById("sampleAppBtn").className.replace( /(?:^|\s)active(?!\S)/g , '' )              
                                
             } else {
                document.getElementById("sampleApp").style.display = "inline-block";
                document.getElementById("myApp").style.display = "none";
                document.getElementById('sampleAppBtn').className += " active"; 
                document.getElementById('myAppBtn').className = document.getElementById("myAppBtn").className.replace( /(?:^|\s)active(?!\S)/g , '' )              

             }
        }
        function resetToken(){
            var token='token-'+Math.round(Math.random()*100000000);
            document.getElementById('tokenInput').value=token;
            document.getElementById('tokenCode').innerText=token;
            document.getElementById('tokenLink').innerText='http://devmetrics.io/dashboard/'+token;        
            document.getElementById('tokenLink').href='http://devmetrics.io/dashboard/'+token;       
        }
        resetToken(); 
    .why-devmetrics
        h1 Why devemetrics.io?
        .container
            .row
                .col-md-4
                    .advantage
                        h2 Open stack APM
                        .image.girl1
                        .description.
                            Open source full-featured <a href="http://en.wikipedia.org/wiki/Application_performance_management" target="_blank">APM</a> stack to enable availability and performance monitoring of your app.
                        //.link
                        //    | Link to our blog for
                        //    a(href='#') discussion

                .col-md-4
                    .advantage
                        h2 Dashboards
                        .image.girl2
                        .description.
                            <a target="_blank" href="https://www.elastic.co/products/kibana">Kibana</a>-based preconfigured dashboards with rich interactive visualization.
                        //.link
                        //    | Link to our blog for
                        //    a(href='#') discussion

                .col-md-4
                    .advantage
                        h2 Log collection
                        .image.girl3
                        .description.
                            Continuous collection, indexing and full text searching for your <a href="http://blog.nodejs.org/2012/03/28/service-logging-in-json-with-bunyan/" target="_blank">Bunyan</a> and <a href="http://thottingal.in/blog/2014/04/06/winston-nodejs-logging/" target="_blank">Winston</a> logs using <a href="http://logstash.net/" target="_blank">Logstash</a>.
                        //.link
                        //    | Link to our blog for
                        //    a(href='#') discussion

            .row
                .col-md-4
                    .advantage
                        h2 Multi-dimensional metrics
                        .image.girl4
                        .description.
                            Standard latency and performance metrics for your <a href="http://mean.io/#!/" target="_blank">MEAN</a> stack application as well as metrics collection API based on <a href="https://github.com/etsy/statsd/wiki" target="_blank">statsd</a>.
                        //.link
                        //    | Link to our blog for
                        //    a(href='#') discussion
                .col-md-4
                    .advantage
                        h2 Alerting
                        .image.girl5
                        .description.
                            Alerting on <a href="http://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-percentile-aggregation.html" target="_blank">percentiles</a>, metrics segmented by dimension and on-the-fly calculated metrics.
                        //.link
                        //    | Link to our blog for
                        //    a(href='#') discussion
                .col-md-4
                    .advantage
                        h2 Minutes to setup
                        .image.girl6
                        .description 
                            |Guidelines for code instrumentation. Simple deployment into your private and cloud environments -
                            a(href='https://www.docker.com/'  target="_blank")  Docker,
                            a(href='https://www.heroku.com/'  target="_blank")  Heroku,
                            a(href='http://aws.amazon.com/'  target="_blank")  Amazon,
                            a(href='http://azure.microsoft.com/en-us/'  target="_blank")  Azure,
                            a(href='https://cloud.google.com'  target="_blank")  Google Cloud
                            |  and others.
        .center.buttons
            a(href='/blog/post/nodejs-monitoring-getting-started', target='_blank')
                button.btn.orange Get Started Tutorial
            br
            br
            a.small(href='/contact', target='_blank') Ask our expert if you have any questions
    .charts-metrics
        .center
            h1 Charts & Logs
            p Open&nbsp;
                a(href='http://service.devmetrics.io/apps/token-123128/#/dashboard/summary?_g=(time:(from:now-24h,mode:quick,to:now))', target='_blank') Demo Dashboard
        .dashboard
            img(src='/images/graphs.png', width='100%', height='auto')
        .center.buttons
            a.small(href='http://service.devmetrics.io/apps/token-123128/#/dashboard/summary?_g=(time:(from:now-24h,mode:quick,to:now))', target='_blank') 102283 logs in our demo
        .center.buttons &nbsp;
    script.
        function langOK(){
            var lang = $("input[type='radio'][name='lang']:checked").val();
            if (lang=="Other")
                lang = document.getElementById("langInput").value;
            if (lang==null || lang=="")
            {
                document.getElementById("warning").style.visibility="visible";
            } else {
               window.location.href = "/contact?msg=I%20would%20like%20to%20try%20devmetrics.io%20for%20the%20programming%20language%20%27" + lang + "%27.#message";
            }
        }             
    .modal.fade#tokenInfoModal(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only
                            | Close
                    h4#delPubLabel.modal-title
                            | Why I need AppID? 
                .modal-body
                    p The AppID helps us to differentiate customer data in the free shared monitoring instance. 
                    p <strong>Important!</strong> If you have sensitive information in your app, do not use the shared instance. <a href='/contact?msg=I%20would%20like%20to%20get%20a%20dedicated%20monitoring%20instance.#message', target='_blank'>Request a dedicated instance</a> instead. 
                    p One customer is allowed to submit up to 10,000,000 logs/metrics per day.                         
                .modal-footer
                    button.btn.btn-succes(type='button', data-dismiss='modal')
                            | Close 

    .modal.fade#otherLanguageModal(tabindex='-1', role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true')
                        span.sr-only
                            | Close
                    h4#delPubLabel.modal-title
                            | Your language: 
                .modal-body
                    .container
                        .row
                            .col-sm-1
                            .col-sm-11
                                input(type="radio", name="lang", value="PHP") 
                                | &nbsp;PHP
                                br
                                input(type="radio", name="lang", value="Ruby") 
                                | &nbsp;Ruby
                                br
                                input(type="radio", name="lang", value="Java") 
                                | &nbsp;Java
                                br
                                input(type="radio", name="lang", value="ASP.NET") 
                                | &nbsp;ASP.NET
                                br
                                input(type="radio", name="lang", value="Other")
                                | &nbsp;Other language:
                                br
                          .row
                                .col-sm-2
                                .col-sm-10
                                   input(type='text', id='langInput')
                          .row
                                .col-sm-1
                                .col-sm-11
                                    br
                                    p.error(id='warning', style="visibility:hidden" ) Please, enter the language.
                 .modal-footer
                    button.btn.btn-succes(type='button', onclick='langOK()')
                            | OK 
                    button.btn.btn-succes(type='button', data-dismiss='modal')
                            | Cancel 