extends ../layouts/default-with-menu
include ../mixins/blog-post

block content
    //.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    .container: .row: .col-sm-10.col-md-9
        .full-blog-post
            +blog-post-full(data.post, true)
