include ../mixins/fb-like
include ../mixins/fb-comments


mixin blog-post(post)
    .post(data-ks-editable=editable( user, {list: 'Post', id: post.id} ))
        .title: a(href='/blog/post/' + post.slug)= post.title
        .content!= post.content.brief
        .meta
            p.read-more: a(href='/blog/post/' + post.slug) Read more...
            .comments= post.comments ? post.comments.count || 0 : 0
            .likes
                +fb-like('/blog/post/' + post.slug)
            .date= post._.publishedDate.format( 'MMMM D' )


mixin blog-post-full(post, standalone)
    article
        if !post
            h2 Invalid Post.
        else
            header
                if standalone
                    h1= post.title
                else
                    a(href='/blog/post/' + post.slug): h1= post.title
                .second-line
                    h5 Posted
                        if post.publishedDate
                            |  on #{post._.publishedDate.format( 'MMMM Do, YYYY' )}
                        if post.categories && post.categories.length
                            | #{' in '}
                            each cat, cat_i in post.categories
                                a(href='/blog/' + cat.key)= cat.name
                                | #{cat_i < post.categories.length - 1 ? ', ' : ' '}
                        if post.author
                            |  by #{post.author.name.first}
                    .fb-like
                        +fb-like('/blog/post/' + post.slug)
            .post
                if post.image.exists
                    .image-wrap: img(src=post._.image.fit( 750, 450 )).img-responsive
                != post.content.full
                if standalone
                    .comments
                        +fb-comments('/blog/post/' + post.slug)
