include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'devemetrics.io'
        script(src='/js/lib/jquery/jquery-2.1.1.min.js')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,400italic&subset=cyrillic,latin', rel='stylesheet')
        link(href="/styles/site.min.css", rel="stylesheet")
        //link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/zenburn.min.css")
        link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/railscasts.min.css")
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
        block css
        block head
    body(class=section)
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById( id )) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=731718460270432";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        header
            block header
        block intro
        +flash-messages(messages)
        block content

        footer#page-footer
            .container
                .row
                    .col-sm-6.right
                        a.logo(href='/')
                            img(src='/images/footer-logotype.png')
                        p Open monitoring solution based on open source technologies.
                    .col-sm-2
                        p.grey Site
                        ul.links
                            li: a(href='/blog/post/nodejs-monitoring-getting-started' target='_blank') Getting Started
                            li: a(href='http://service.devmetrics.io/apps/token-123128/#/dashboard/summary' target='_blank') Demo Dashboard
                            li: a(href='/contact' target='_blank') Contact Us
                    .col-sm-2
                        p.grey Blog
                        ul.links
                            li: a(href='/blog/post/nodejs-monitoring-getting-started'  target='_blank') Tutorial

                    .col-sm-2
                        p.grey Contacts
                        a(href='mailto:contact@devmetrics.io') contact@devmetrics.io
                        br
                        a(href='https://github.com/devmetrics/devmetrics-nodejs' target='_blank') Open on GitHub
                        //p
                        //    | 43 Wall St., Suite 203
                        //    br
                        //    | San Francisco, CA 94104

                p.small All rights reserved © devmetrics.io 2015


        script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js")
        script.
            hljs.initHighlightingOnLoad();
        if user && user.canAccessKeystone
            script(src='/keystone/js/content/editor.js')
        block js
