// @author Marenin Alexander
// @date April 2015

extends ./default

block header
    .container.first-line
        a(href='/')
            .logo
        nav
            each link in navLinks
                a(href=link.href, class=section == link.key && 'active')= link.label
            if user && user.canAccessKeystone
                a(href='/keystone') Admin
            if user
                a(href='/signout') Sign Out
            else
                a(href='/signin') Sign In
                //a(href='/join') Join

