include ../mixins/flash-messages

doctype html
html
	head
		if env == 'production' && chartbeat_property && chartbeat_domain
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'devemetrics.io'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/session.min.css", rel="stylesheet")
		
		block css
	body
		header(role='banner').main-header
			a(href='/', title='Back to Home').navbar-logo
				img(src='/images/logo.svg', alt='devemetrics.io logo', width=130, height=119)
		
		.main-body
			block intro
			+flash-messages(messages)
			block content
		
	script(src='/js/lib/jquery/jquery-2.1.1.min.js')
	block js