include ../../mixins/flash-messages
extends ../../layouts/default

block css
    style.
        .page-content {
            margin-top: 70px;
        }
        .form-group {
            margin-bottom: 16px;
            overflow: hidden;
        }
block content
    .container: .row: .col-md-6.col-md-offset-3: .page-content
        form(method='post', autocomplete='off', novalidate).profile-form
            input(type='hidden', name='action', value='confirm.details')
            p.center.lead.mb-2 Thanks for joining! Please confirm your details
            +flash-messages(messages)
            .form-group.form-row
                .col-xs-6: input(type='text' name='name.first' placeholder='First Name (required)' value=authUser.name.first).form-control
                .col-xs-6: input(type='text' name='name.last' placeholder='Last Name (required)' value=authUser.name.last).form-control
            .form-group.form-row
                .col-xs-12: input(type='email' name='email' placeholder='Email (required)' value=authUser.email).form-control.form-control-labelled
            .form-group.form-row
                .col-xs-12: input(type='text' name='website' placeholder='Website (optional)' value=authUser.website).form-control.form-control-labelled
            .form-group.center
                button(type='submit').btn.orange Let's go &rarr;
