.social-signup-buttons(style="text-align: center")
	a(href='/auth/github?target=' + page.path, title='Sign in with Github').btn
		span.signup-button__text  via Github
	
	a(href='/auth/facebook?target=' + page.path, title='Sign in with Facebook').btn
		span.signup-button__text  via Facebook
	
	//a(href='/auth/google?target=' + page.path, title='Sign in with Google').btn
		span.signup-button__text  via Google
