extends ../../layouts/default-with-menu

block content
    .container
        .row: .col-md-6.col-md-offset-3
            .page-intro
                h1 Forgotten your password?
                p.lead No problem, we'll send you a link to reset it.
            .page-content
                +flash-messages(messages)
                +auth-forms({ modal: false, initial: 'password' })

block js
    script.
        jQuery(function($) {
            $('.auth-form').find('.form-control').eq(0).focus().select();
        });
