extends ../../layouts/default-with-menu

block content
    .container
        .row: .col-md-6.col-md-offset-3
            .page-intro
                h1 Reset your password
                p.lead Please enter your new password twice
            .page-content
                +flash-messages(messages)
                form(method='post', novalidate).auth-form
                    input(type='hidden', name='action', value='reset-password')
                    .form-groups
                        .form-group
                            label(for='password').sr-only New Password
                            input(type='password', name='password', id='password', placeholder='New Password').form-control.form-control--first
                        .form-group
                            label(for='password_confirm').sr-only Confirm Password
                            input(type='password', name='password_confirm', id='password_confirm', placeholder='Confirm Password').form-control.form-control--last
                    button(type='submit').btn.btn-block.btn-primary Reset Password
                p.text-center.text-muted.mt-3
                    | On second thought,
                    a(href='/signin') sign in

block js
    script.
        var $form = $('.auth-form');
        var $submit = $form.find('.btn');
        
        $submit.click( function() {
            $submit.addClass( 'disabled' );
        });
        
        $form.find("input[type!='hidden']").first().focus();
