extends ../../layouts/default-with-menu

block content
    .container
        .row: .col-md-6.col-md-offset-3
            .page-intro
                h1 Sign in
            .page-content
                +auth-forms( {modal: false, initial: 'signin'} )

block js
    script.
        jQuery( function( $ ){
            $( '.auth-form' ).find( '.form-control' ).eq( 0 ).focus().select();
        });
