/**
 * @author Marenin Alexander
 * @date April 2015
 */

.btn {
    padding: 12px 28px 10px;
    border-radius: 40px;
    background-color: #EEEEEE;
    color: @color-text-active;

    &:hover {
        background-color: #E1E1E1;
    }

    &:active {
        background-color: #D3D3D3;
    }

    &:hover, &:active, &:focus {
        color: @color-text-active;
        outline: none !important;
    }

    &.orange {
        background-color: @color-bg-orange;
        color: @color-text-white;

        &:hover {
            background-color: @color-bg-orange-hover;
        }

        &:active {
            background-color: @color-bg-orange-active;
            outline: none;
        }
    }
}

.btn-group {
    .btn {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        background-color: #EEEEEE;
        color: #959595;

        &:hover {
            background-color: white;
        }
    }

    .btn.active {
        background-color: white;
        color: @color-text-active;

        &:hover {
            background-color: #EEEEEE;
        }
    }
}


.center {
    text-align: center;
}


a{
    cursor: pointer !important;
}


input[type=text][readonly], textarea[readonly] {
    cursor: pointer !important;
    height: @input-height-base;

  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;   
}


.btnreset{    
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;


}
