/**
 * @author Marenin Alexander
 * @date April 2015
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 227px;
    min-height: 600px;
    min-width: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 170%;

    & > header {
        margin-bottom: 10px;
        background: white url(/images/header-background.png) left top repeat-x;

        .first-line {
            overflow: hidden;
            padding-top: 74px;
            a {
                float: left;
                .logo {
                    display: inline-block;
                    background: transparent url(/images/header-logotype.png) center center no-repeat;
                    width: 240px;
                    height: 60px;
                    margin: 0;
                }
            }

            nav {
                float: right;

                a {
                    display: inline-block;
                    padding: 30px;
                    color: @color-text;
                    border-bottom: 1px solid @color-border-light;

                    &:hover {
                        color: black;
                        border-bottom: 1px solid @color-border-light-hover;
                        text-decoration: none;
                    }

                    &.active {
                        color: @color-text-active;
                    }
                }
            }
        }
    }

    footer#page-footer {
        position: absolute;
        bottom: 0;
        height: 227px;
        width: 100%;
        background-color: #F4F4F4;
        padding: 50px 0 35px;

        a.logo {
            display: inline-block;
            margin-left: -10px;
        }

        .right p {
            padding: 20px 0 0;
        }

        p.small, .grey {
            color: @color-text-grey;
        }

        p.small {
            margin-top: 15px;
        }

        ul.links {
            list-style: none;
            padding: 0;
        }
    }
}
