/**
 * @author Marenin Alexander
 * @date April 2015
 */

@font-size-base: 14px;

@color-text-active: #FF5428;
@color-text: #555;
@color-text-grey: #aaa;
@color-text-white: white;
@color-border-light: #eee;
@color-border-light-hover: #cacaca;
@color-bg-orange: @color-text-active;
@color-bg-orange-hover: #EF4C22;
@color-bg-orange-active: #E4451D;
