/**
 * @author Marenin Alexander
 * @date April 2015
 */

body.blog_backup {
    & > header {
        padding: 75px 0 40px 0;
        background: transparent url(/images/header-background.png) left -585px repeat-x;

        #logo {
            overflow: hidden;

            a.logo {
                float: left;
                background: transparent url(/images/header-logotype.png) left center no-repeat;
                width: 240px;
                height: 60px;
            }

            a.back-to-main {
                float: left;
                margin: 31px 0 0 36px;
            }
        }

        form#search {
            margin-top: 13px;
            input {
                border: 1px solid #E6E6E6;
                background-color: #FAFAFA;
                padding: 7px 12px;
            }

            .input-group-btn {
                font-size: inherit;
                button {
                    height: 34px;
                    width: 44px;
                    background: transparent url(/images/search.png) center center no-repeat;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    article {
        padding-bottom: 50px;

        header {
            margin-bottom: 20px;
            .second-line {
                overflow: hidden;

                h5 {
                    float: left;
                }

                & > .fb-like {
                    margin-top: 10px;
                    float: right;
                }
            }
        }

        .post {
            .image-wrap {
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
