/**
 * @author Marenin Alexander
 * @date April 2015
 */

body.index, body.blog {
    .top-content {
        min-height: 240px;
        background: white;

        h1.huge-text {
            margin: 36px 0 0 66px;
            color: @color-text-active;

            @media (max-width: @screen-md) {
                text-align: center; margin: 36px 0 25px 0;
            }
        }
    }

    .posts {
        padding: 16px 0 0 25px;


        .post {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid @color-border-light;

            .content {
               
                color: @color-text;
            }

            .meta {
                overflow: hidden;
                color: @color-text-grey;


                .comments, .likes {
                    float: left;
                    padding: 4px 24px 0 0;
                    line-height: 20px;
                }

                .comments {
                    margin-right: 15px;
                    background: transparent url(/images/comment-icon-normal.png) right bottom no-repeat;
                }

                .likes {
                    background: transparent url(/images/like-icon-normal.png) right top no-repeat;
                }

                .date {
                    float: right;
                }
            }
        }

        :last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }



    .description-container {

        margin-bottom: 40px;

        span {
            display: inline-block;
            text-align: justify;
        }
    }

    .schema-container {
        min-height: 330px;
        background: url(/images/scheme.png) center 70px no-repeat;
    }


    .wizard-container {
        //min-height: 300px;
        margin-bottom: 40px;
        margin-left: 30px;
        margin-right: 30px;
        

        h1 {
            text-align: center;
            color: @color-text-active;
        }

        .container.steps {
            background-color: #F4F4F4;
            border-radius: 16px;
            border-color:@color-border-light;       
            border-style:solid;
            padding: 10px;
            padding-bottom: 30px;

            p.text{text-align:right}

            input {
               
            }

            .my-app{
                display:inline-block;
            }

            .sample-app{
                display:none;
            }


            p.heading {                
                span {
                    color: @color-text-active;
                    font-size:160%;
                }
                strong {
                    color: @color-text-active;
                    
                }
            }

            .center {
                
                margin-top: 10px;
                margin-bottom: 10px;

                button {
                    min-width: 190px;
                }

                a {
                    display: inline-block;
                    margin-top: 15px;
                }
            }
        }
    }

    

    .why-devmetrics {
        padding: 45px 0;
        background: #FAFAFA;

        h1 {
            text-align: center;
            margin-bottom: 35px;
        }

        .advantage {
            text-align: center;
            margin-bottom: 40px;

            h2 {
                color: @color-text-active;
            }

            .image {
                margin: 30px auto;
                background-color: white;
                width: 210px;
                height: 210px;
                border-radius: 210px;
            }

            .girl1 {
                background: transparent url(/images/girl1.png) center center no-repeat;
            }

            .girl2 {
                background: transparent url(/images/girl2.png) center center no-repeat;
            }

            .girl3 {
                background: transparent url(/images/girl3.png) center center no-repeat;
            }

            .girl4 {
                background: transparent url(/images/girl4.png) center center no-repeat;
            }

            .girl5 {
                background: transparent url(/images/girl5.png) center center no-repeat;
            }

            .girl6 {
                background: transparent url(/images/girl6.png) center center no-repeat;
            }

            .link {
                margin-top: 15px;

                a {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }

        .center.buttons {
            margin-top: 30px;
        }
    }

    .charts-metrics {
        padding: 45px 0;

        .dashboard {
            margin-left:7%;
            margin-right:7%;            
        }
    }
}

.girl-image {
  margin: 30px auto;
  background-color: white;
  width: 210px;
  height: 210px;
  border-radius: 210px;
}

.girl-about {
  background: transparent url(/images/girl-about-us.png) center center no-repeat;
}


.modal-dialog {
    p.error{
        color:@color-text-active; 
    }
}