﻿
body.blog{
    
    .full-blog-post{
        max-width:700px;
        text-align:justify;

        h1,h2{            
            text-align:left;
        }

        h2{
            font-size: 120%;
            text-decoration:underline;
        }

        img {
            width:100%;
        }

        table{
            border: 1px solid black; 
            border-collapse: collapse;
        }

        th,td{
            padding: 15px; 
            border: 1px solid black; 
            border-collapse: collapse;
        }


    }
}

