
mixin form-password(args)
    .auth-box.modal-pane-password(class=args.modal && args.initial != 'password' ? 'hidden' : null)
        if args.modal
            .modal-header
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Forgotten your password?
        div(class=args.modal ? 'modal-body' : null)
            form.form-password(method='post', action='/forgot-password', role='password-retrieval', novalidate).auth-form
                input(type='hidden', name='action', value='forgot-password')
                .form-groups
                    .form-group
                        label.sr-only(for='email') Email address
                        input.form-control.form-control--first.form-control--last(
                            type='email'
                            name='email'
                            id='email'
                            placeholder='Email address'
                            value=locals.form ? locals.form.email : null)
                .center
                    button.btn.orange(type='submit', data-loading-text='Sending...') Send reset link
            p.text-center.text-muted.mt-3
                | I remember, 
                a(
                    href=args.modal ? js : '/signin'
                    rel=args.modal ? 'modal-pane' : null
                    data-modal-pane=args.modal ? 'signin' : null) sign in
